/* Font Face Declarations for Druk Fonts */
@font-face {
	font-family: "Druk Condensed";
	src: url("/fonts/Druk Condensed Family/DrukCond-Super-Trial.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Druk Condensed";
	src: url("/fonts/Druk Condensed Family/DrukCond-SuperItalic-Trial.otf")
		format("opentype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Druk Condensed X";
	src: url("/fonts/Druk Condensed Family/DrukXCond-Super-Trial.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Druk Condensed X";
	src: url("/fonts/Druk Condensed Family/DrukXCond-SuperItalic-Trial.otf")
		format("opentype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Druk Condensed XX";
	src: url("/fonts/Druk Condensed Family/DrukXXCond-Super-Trial.otf")
		format("opentype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Druk Condensed XX";
	src: url("/fonts/Druk Condensed Family/DrukXXCond-SuperItalic-Trial.otf")
		format("opentype");
	font-weight: 900;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #fff;
}

.App {
	background-color: #000;
	min-height: 100vh;
	padding-bottom: 100px;
}

/* Floating Plus Button */
.floating-plus-btn {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #b32c2c;
	color: white;
	border: none;
	font-size: 48px;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.floating-plus-btn:hover {
	transform: scale(1.1);
}

.floating-plus-btn:active {
	transform: scale(0.95);
}
